#LAOP
import init.laop_sub.rc

on post-fs-data
    mkdir /data/laop 0755 root root
    mkdir /data/laop/etc 0755 root root

    # Smart-CA
    mkdir /data/shared 0755
    chown system system /data/shared
    restorecon /data/shared

#Customize booting resources
on property:product.lge.sbp.load_props_done=1
    start runtime_boot_res
    start ntcode_symlinks
    start runtime_boot_media_res
    copy /mnt/vendor/persist-lg/ntcode_list /data/local/ntcode_list
    chmod 0644 /data/local/ntcode_list

#Customize booting resources
service runtime_boot_res /product/bin/runtime_boot_res.sh
    disabled
    oneshot

service runtime_boot_media_res /product/bin/runtime_boot_media_res.sh
    user media_rw
    group media_rw
    disabled
    oneshot

# LAOP Set 3rd party app property files by NT-Code base
service ntcode_symlinks /product/bin/ntcode_etc_symlinks.sh
    disabled
    oneshot

# LAOP Set 3rd party app property files by SIM-Auto-Profiling
service sap_etc_symlinks /product/bin/sap_etc_symlinks.sh
    disabled
    oneshot

on property:vendor.lge.start.sap_etc_symlink=1
    start sap_etc_symlinks

on property:persist.vendor.lge.cota.changed=1
    wait /dev/block/bootdevice/by-name/cust
    mount ext4 /dev/block/bootdevice/by-name/cust /cust rw remount nosuid nodev barrier=1 noauto_da_alloc
    restorecon_recursive /cust
    mkdir /cust/_COTA_RES 0775 system system
    start cota_update

service smartca_undo /product/bin/smartca_undo.sh
    user system
    group system
    disabled
    oneshot

on property:persist.vendor.lge.cota.changed=2
    wait /dev/block/bootdevice/by-name/cust
    mount ext4 /dev/block/bootdevice/by-name/cust /cust ro remount nosuid nodev barrier=1 noauto_da_alloc
    restorecon_recursive /cust
    start cota_update

service cota_update /product/bin/cota_update.sh
    user system
    group system
    disabled
    oneshot

#Load laop props(perm.prop)
on property:persist.vendor.lge.clientid-changed=fast
    load_laop_props

on property:persist.vendor.lge.clientid-changed=late
    load_laop_props

on property:persist.vendor.lge.clientid-changed=ntcode
    load_laop_props
